body {
  margin: 0;
  background-color: #EAEAEA; }

.flex {
  display: flex; }

nav ul {
  width: 600px; }
  nav ul a {
    list-style-type: none;
    display: inline-block;
    text-decoration: none; }
    nav ul a li {
      margin-left: 15px; }

.nav {
  z-index: 100;
  width: 1920px;
  position: fixed;
  background-image: url(../images/header.png);
  background-repeat: no-repeat; }

