body {
  margin: 0;
  background-color: #EAEAEA; }

.flex {
  display: flex; }

.logo {
  z-index: 1000000;
  position: fixed; }

.wrapper2 {
  position: fixed;
  top: 0;
  right: 0; }

.lic-info {
  z-index: 100000000000;
  color: #EAEAEA;
  width: 200px; }

nav {
  width: 100%; }
  nav ul {
    margin: 80px 0 0 300px;
    list-style-type: none; }
    nav ul a {
      text-decoration: none;
      margin-right: 10px; }
      nav ul a:visited {
        color: #EAEAEA; }
      nav ul a:hover {
        color: #EAEAEA; }
      nav ul a:active {
        color: #EAEAEA; }
      nav ul a li {
        margin: 0; }

.lists {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  justify-content: flex-end;
  text-align: left; }

ul {
  margin: 0px;
  width: 100vw;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right; }

a,
li {
  margin-left: 20px;
  width: 20%; }

.nav {
  z-index: 100;
  width: 1920px;
  position: fixed;
  background-image: url(../images/header.png);
  background-repeat: no-repeat; }

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #EAEAEA;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.bottomsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .bottomsection .wrapper {
    background-color: #aaaaaa;
    padding: 15px;
    width: 35%; }
    .bottomsection .wrapper h2 {
      text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #EAEAEA;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

footer {
  background-color: #aaaaaa; }
  footer ul a li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none; }

footer ul a {
  list-style-type: none;
  display: inline-block;
  text-decoration: none; }
