body {
	margin: 0;
	background-color: #EAEAEA;
}

//***********NAV***********//

nav {
	ul {
		li{
			margin-left: 3px;
			list-style-type: none;
			display: inline-block;
			text-decoration: none;
		}
	}
}

