body {
	margin: 0;
	background-color: #EAEAEA;
}

//***********NAV***********//

nav {
	ul {
		a{
			li {
				margin-left: 15px;
			}
			list-style-type: none;
			display: inline-block;
			text-decoration: none;
		}
	}
}
